$fontPrimary: 'Oswald', sans-serif;
$fontSecondary: 'Ubuntu', sans-serif;
$fontSizeBase: 16px;

$textColorPrimary: #c0b7b0;
$bgColorPrimary: #342c2e;
$bgColorSecondary:#272121;

$buttonOutlineColor: lighten(#272121, 10%);

$gameFieldBg:  $bgColorPrimary;
$gameTileBg: $bgColorSecondary;